@import './../variables.scss';

.m-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 10rem;
    height: 100px;
    text-align: center;
    border-top: 1px solid #e4e4e4; /*no*/
    cursor: pointer;
    > section {
        flex-grow: 1;
        padding-top: 12px;
        &.active {
            color: $primary-color;
        }
    }
}
